.calendar {
    display: flex;
    padding-left: 65%;
    /* padding-right: 10%; */
    margin-right: 15px;
    gap: 15px;
    cursor: pointer;
    background-color: #263238;
}
.calenderDuration {
    border: 1px solid white;
    border-radius: 0.7 rem;
    padding: 5px;
}
.calenderIcon {
    color: #58656c;
}
.DateRange{
    background-color: grey;
}
.date {
    position: absolute;
    top: 50px;
    z-index: 2;
    /* width: 50%; */
    /* height: 100%; */
}
.rdrDateRangeWrapper {
    flex: 1;
}