*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 10px;
  background-color: #1d2427;
  /* padding-bottom: 20px; */
}
.sidebar{
  background-color: #263238;
  /* color: #fff; */
  height: 100vh;
  width: 190px;
  /* transition: all 0.5s; */
}
.top_section{
  display: flex;
  align-items:center;
  padding:5px 5px;
}
.logo{
  width: 100%;
  cursor: pointer;
}
.link{
  display: flex;
  /* color: #fff; */
  padding: 5px 10px;
  gap: 5px;
  /* transition: all 0.5s; */
}
.link:hover{
  background:orange;
  color: white;
  /* transition: all 0.5s; */
}
.active{
  background: orange;
  color: white;
}
.icon{
  font-size: 20px;
  color: white;
}

.link_text{
  font-size: 10px;
  color: white;
}